/* css for font color */
@import url(./colors-bg.css);
@import url(./colors:hover.css);

.white-txt {
    color: white;
}

.black-txt {
    color: black;
}

.green-txt {
    color: green;
}

.purple-txt {
    color: purple;
}

.orange-txt {
    color: orange;
}

.pink-txt {
    color: pink;
}

.gray-txt {
    color: gray;
}

.brown-txt {
    color: brown;
}

.cyan-txt {
    color: cyan;
}

.magenta-txt {
    color: magenta;
}

.lightblue-txt {
    color: lightblue;
}

.lightgreen-txt {
    color: lightgreen;
}

.lightyellow-txt {
    color: lightyellow;
}

.lightgray-txt {
    color: lightgray;
}

.lightpink-txt {
    color: lightpink;
}

.lightcoral-txt {
    color: lightcoral;
}

.darkblue-txt {
    color: darkblue;
}

.darkgreen-txt {
    color: darkgreen;
}

.darkred-txt {
    color: darkred;
}

.darkgray-txt {
    color: darkgray;
}

.darkorange-txt {
    color: darkorange;
}

.darkviolet-txt {
    color: darkviolet;
}

.red-txt {
    color: red;
}

.skyblue-txt {
    color: skyblue;
}

.seagreen-txt {
    color: seagreen;
}

.slategray-txt {
    color: slategray;
}

.olive-txt {
    color: olive;
}

.teal-txt {
    color: teal;
}

.tomato-txt {
    color: tomato;
}

.gold-txt {
    color: gold;
}

.silver-txt {
    color: silver;
}

.aqua-txt {
    color: aqua;
}

.azure-txt {
    color: azure;
}

.beige-txt {
    color: beige;
}

.chocolate-txt {
    color: chocolate;
}

.coral-txt {
    color: coral;
}

.indigo-txt {
    color: indigo;
}

.lavender-txt {
    color: lavender;
}

.lime-txt {
    color: lime;
}

.maroon-txt {
    color: maroon;
}

.navy-txt {
    color: navy;
}

.orchid-txt {
    color: orchid;
}

.plum-txt {
    color: plum;
}

.salmon-txt {
    color: salmon;
}

.turquoise-txt {
    color: turquoise;
}

.violet-txt {
    color: violet;
}

.midnightblue-txt {
    color: midnightblue;
}

.sienna-txt {
    color: sienna;
}

.peachpuff-txt {
    color: peachpuff;
}

.rosybrown-txt {
    color: rosybrown;
}

.moccasin-txt {
    color: moccasin;
}

.papayawhip-txt {
    color: papayawhip;
}

.lightsalmon-txt {
    color: lightsalmon;
}

.hotpink-txt {
    color: hotpink;
}
