/* Hover effects for background colors */
.bg-red:hover {
    background-color: rgb(255, 51, 51);
}

.bg-blue:hover {
    background-color: rgb(0, 0, 214);
}

.bg-black:hover {
    background-color: rgb(51, 51, 51);
}

.bg-green:hover {
    background-color: rgb(51, 204, 51);
}

.bg-purple:hover {
    background-color: rgb(204, 51, 204);
}

.bg-orange:hover {
    background-color: rgb(255, 187, 0);
}

.bg-pink:hover {
    background-color: rgb(255, 102, 178);
}

.bg-gray:hover {
    background-color: rgb(153, 153, 153);
}

.bg-brown:hover {
    background-color: rgb(165, 42, 42);
}

.bg-cyan:hover {
    background-color: rgb(51, 255, 255);
}

.bg-magenta:hover {
    background-color: rgb(255, 0, 255);
}

.bg-lightblue:hover {
    background-color: rgb(149, 228, 255)
}

.bg-lightgreen:hover {
    background-color: rgb(153, 255, 153);
}

.bg-lightyellow:hover {
    background-color: rgb(255, 255, 153);
}

.bg-lightgray:hover {
    background-color: rgb(204, 204, 204);
}

.bg-lightpink:hover {
    background-color: rgb(255, 153, 204);
}

.bg-lightcoral:hover {
    background-color: rgb(255, 114, 114);
}

.bg-darkblue:hover {
    background-color: rgb(0, 0, 139);
}

.bg-darkgreen:hover {
    background-color: rgb(0, 128, 0);
}

.bg-darkred:hover {
    background-color: rgb(173, 0, 0);
}

.bg-darkgray:hover {
    background-color: rgb(79, 79, 79);
}

.bg-darkorange:hover {
    background-color: rgb(255, 140, 0);
}

.bg-darkviolet:hover {
    background-color: rgb(148, 0, 211);
}

.bg-skyblue:hover {
    background-color: rgb(135, 206, 235);
}

.bg-seagreen:hover {
    background-color: rgb(46, 139, 87);
}

.bg-slategray:hover {
    background-color: rgb(112, 128, 144);
}

.bg-olive:hover {
    background-color: rgb(128, 128, 0);
}

.bg-teal:hover {
    background-color: rgb(0, 128, 128);
}

.bg-tomato:hover {
    background-color: rgb(255, 99, 71);
}

.bg-gold:hover {
    background-color: rgb(255, 215, 0);
}

.bg-silver:hover {
    background-color: rgb(192, 192, 192);
}

.bg-aqua:hover {
    background-color: rgb(0, 229, 238);
}

.bg-azure:hover {
    background-color: rgb(240, 255, 255);
}

.bg-beige:hover {
    background-color: rgb(245, 245, 220);
}

.bg-chocolate:hover {
    background-color: rgb(210, 105, 30);
}

.bg-coral:hover {
    background-color: rgb(255, 127, 80);
}

.bg-indigo:hover {
    background-color: rgb(75, 0, 130);
}

.bg-lavender:hover {
    background-color: rgb(230, 230, 250);
}

.bg-lime:hover {
    background-color: rgb(50, 205, 50);
}

.bg-maroon:hover {
    background-color: rgb(128, 0, 0);
}

.bg-navy:hover {
    background-color: rgb(0, 0, 128);
}

.bg-orchid:hover {
    background-color: rgb(255, 135, 251);
}

.bg-plum:hover {
    background-color: rgb(221, 160, 221);
}

.bg-salmon:hover {
    background-color: rgb(250, 128, 114);
}

.bg-turquoise:hover {
    background-color: rgb(75, 255, 237);
}

.bg-violet:hover {
    background-color: rgb(238, 130, 238);
}

.bg-midnightblue:hover {
    background-color: blue;
}

.bg-sienna:hover {
    background-color: rgb(160, 82, 45);
}

.bg-peachpuff:hover {
    background-color: rgb(255, 218, 185);
}

.bg-rosybrown:hover {
    background-color: rgb(188, 143, 143);
}

.bg-moccasin:hover {
    background-color: rgb(255, 228, 181);
}

.bg-papayawhip:hover {
    background-color: rgb(255, 239, 213);
}

.bg-lightsalmon:hover {
    background-color: rgb(255, 160, 122);
}

.bg-hotpink:hover {
    background-color: rgb(255, 105, 180);
}

.bg-darkyellow:hover {
    background-color: rgb(235, 235, 0);
}

.bg-semi-t-white:hover {
    background-color: rgba(255, 255, 255, 0.4);
}