/* css for font color */
.white-txt:hover {
    color: white;
}

.black-txt:hover {
    color: black;
}

.green-txt:hover {
    color: green;
}

.purple-txt:hover {
    color: purple;
}

.orange-txt:hover {
    color: orange;
}

.pink-txt:hover {
    color: pink;
}

.gray-txt:hover {
    color: gray;
}

.brown-txt:hover {
    color: brown;
}

.cyan-txt:hover {
    color: cyan;
}

.magenta-txt:hover {
    color: magenta;
}

.lightblue-txt:hover {
    color: lightblue;
}

.lightgreen-txt:hover {
    color: lightgreen;
}

.lightyellow-txt:hover {
    color: lightyellow;
}

.lightgray-txt:hover {
    color: lightgray;
}

.lightpink-txt:hover {
    color: lightpink;
}

.lightcoral-txt:hover {
    color: lightcoral;
}

.darkblue-txt:hover {
    color: darkblue;
}

.darkgreen-txt:hover {
    color: darkgreen;
}

.darkred-txt:hover {
    color: darkred;
}

.darkgray-txt:hover {
    color: darkgray;
}

.darkorange-txt:hover {
    color: darkorange;
}

.darkviolet-txt:hover {
    color: darkviolet;
}

.skyblue-txt:hover {
    color: skyblue;
}

.seagreen-txt:hover {
    color: seagreen;
}

.slategray-txt:hover {
    color: slategray;
}

.olive-txt:hover {
    color: olive;
}

.teal-txt:hover {
    color: teal;
}

.tomato-txt:hover {
    color: tomato;
}

.gold-txt:hover {
    color: gold;
}

.silver-txt:hover {
    color: silver;
}

.aqua-txt:hover {
    color: aqua;
}

.azure-txt:hover {
    color: azure;
}

.beige-txt:hover {
    color: beige;
}

.chocolate-txt:hover {
    color: chocolate;
}

.coral-txt:hover {
    color: coral;
}

.indigo-txt:hover {
    color: indigo;
}

.lavender-txt:hover {
    color: lavender;
}

.lime-txt:hover {
    color: lime;
}

.maroon-txt:hover {
    color: maroon;
}

.navy-txt:hover {
    color: navy;
}

.orchid-txt:hover {
    color: orchid;
}

.plum-txt:hover {
    color: plum;
}

.salmon-txt:hover {
    color: salmon;
}

.turquoise-txt:hover {
    color: turquoise;
}

.violet-txt:hover {
    color: violet;
}

.midnightblue-txt:hover {
    color: midnightblue;
}

.sienna-txt:hover {
    color: sienna;
}

.peachpuff-txt:hover {
    color: peachpuff;
}

.rosybrown-txt:hover {
    color: rosybrown;
}

.moccasin-txt:hover {
    color: moccasin;
}

.papayawhip-txt:hover {
    color: papayawhip;
}

.lightsalmon-txt:hover {
    color: lightsalmon;
}

.hotpink-txt:hover {
    color: hotpink;
}