.background-battle {
    background-image: url("../img/bg-space.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 95vh;
    width: 100%;
}

.canvas-container {
    display: flex;
    /* Center canvas horizontally */
    justify-content: center;
    /* Center canvas horizontally */
    align-items: center;
    /* Center canvas vertically within its container */
}

.w-80 {
    width: 80%;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 80vw;
    height: 35vw;
    /* position: absolute; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 5px solid white;
}

.Avatar-Resize {
    width: 8vw;
    height: 8vh;
    max-width: 80px;
    max-height: 80px;
}