.nav-link:hover {
    background-color: #444;
}

.nav-link {
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 1px solid #444;
    padding: 1rem;
    white-space: nowrap;
    /* Prevents the text from wrapping */
    overflow: hidden;
    /* Hides overflowed content */
    text-overflow: ellipsis;
    /* Shows '...' for overflowing text */
    width: 100%;
    /* Ensures the link takes up the full width of the sidebar */
    padding: 10px 15px;
    /* Adjust padding for better spacing */
    text-align: left;
}

.bar-size-max {
    width: 15%;
}

.dropdown-menu {
    z-index: 1050;
    position: absolute;
}

.col-10 {
    width: 85%;
}

.offcanvas {
    max-width: 25%;
}

.icon-container {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.icon-container-right {
    position: absolute;
    right: 0;
    margin-right: 5px;
}

.icon-container .btn {
    margin-left: 0.5rem;
}

.flex-grow-1 {
    flex-grow: 1;
}

.icon-container-right {
    margin-left: auto;
}

.text-center {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-overflow {
    white-space: nowrap;
    /* Prevents the text from wrapping */
    overflow: hidden;
    /* Hides overflowed content */
    text-overflow: ellipsis;
}

.clickable-element {
    position: relative;
    z-index: 10;
    /* Higher value means the element is in front */
}

.overlay-element {
    position: absolute;
    z-index: 5;
    /* Lower value means this element is behind */
}

.notification-icon {
    position: relative;
    display: inline-block;
}

.notification-badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: red;
    color: white;
}