.Avatar-Fake {
    background-image: none;
    width: 11vh;
    height: 11vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    max-width: 50px;
    max-height: 50px;
    min-width: 30px;
    min-height: 30px;

}

.ranking {
    max-height: 40vh;
    /* Set a max height for the scrollable area */
    overflow-y: auto;
    /* Enable vertical scrolling */
    /* border: 1px solid #ccc; */
    /* Add a border */
    padding: 10px;
    /* Add some padding */
    background-color: rgb(0, 0, 0, 0);
    /* Background color */
    border-radius: 5px;
    /* Rounded corners */
}

.tournament-creation {
    max-width: 80vw;
    margin: 0 auto;
    /* margin-bottom: 0; */
}

.mb-0 {
    white-space: nowrap;
    /* Prevents the text from wrapping */
    overflow: hidden;
    /* Hides overflowed content */
    text-overflow: ellipsis;
    max-width: 30vw;
}

.ranking-number-fake {
    font-family: 'Impact', 'Arial Black', sans-serif;
    /* Hard-coded bold font */
    /* font-size: 3rem !important; */
    font-weight: bold;
    display: inline-block;
    width: min(5vh, 5vw);
    height: min(5vh, 5vw);
    line-height: min(5vh, 5vw);
    text-align: center;
    border-radius: 50%;
    margin: 10px;

    /* Hard-coded text stroke */
    /* -webkit-text-stroke: 1px black; */
}

.tournament-creation {
    max-width: 80vw;
    margin: 0 auto;
}

.list-group-item {
    margin-bottom: 5px;
}

.ranking-number {
    font-family: 'Impact', 'Arial Black', sans-serif;
    /* Hard-coded bold font */
    font-size: 3rem !important;
    font-weight: bold;
    display: inline-block;
    width: min(5vh, 5vw);
    height: min(5vh, 5vw);
    line-height: min(5vh, 5vw);
    text-align: center;
    border-radius: 50%;
    margin: 10px;

    /* Hard-coded text stroke */
    -webkit-text-stroke: 1px black;
}

.gold {
    color: gold;
    background-color: white;
}

.silver {
    color: silver;
    background-color: white;
}

.bronze {
    color: rgb(205, 127, 50);
    background-color: white;
}

.black {
    color: rgb(116, 116, 116);
    background-color: white;
}

.score {
    font-size: 1.2rem;
    white-space: nowrap;
    /* Keeps the score on a single line */
}

.page-link {
    color: black;
}

.active a {
    background-color: rgb(195, 90, 255) !important;
    border-color: rgb(195, 90, 255) !important;
    outline: none;
}

.active a:active {
    background-color: rgb(195, 90, 255) !important;
    border-color: rgb(195, 90, 255) !important;
    outline: none;
}

.ranking {
    max-height: 70vh;
    /* Set a max height for the scrollable area */
    overflow-y: auto;
    /* Enable vertical scrolling */
    /* border: 1px solid #ccc; */
    /* Add a border */
    padding: 10px;
    /* Add some padding */
    background-color: rgb(0, 0, 0, 0);
    /* Background color */
    border-radius: 5px;
    /* Rounded corners */
}

.ranking {
    scrollbar-width: thin;
    /* Makes the scrollbar thinner */
    scrollbar-color: rgba(255, 255, 255, 0.2) rgba(0, 0, 0, 0);
    /* Thumb color and background */
}

.w-100 {
    width: 100%;
}

.Avatar {
    background-image: url(../../img/red_panda.jpg);
    width: 11vh;
    height: 11vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    max-width: 50px;
    max-height: 50px;
    min-width: 30px;
    min-height: 30px;

}



.status-online {
    border: 1px solid green !important;
}

.username-input {
    margin: 5px 0;
}

#usernameTemplates {
    max-height: 50vh;
    /* Set a max height for the scrollable area */
    overflow-y: auto;
    /* Enable vertical scrolling */
    border: 1px solid #ccc;
    /* Add a border */
    padding: 10px;
    /* Add some padding */
    background-color: #f8f9fa;
    /* Background color */
    border-radius: 5px;
    /* Rounded corners */
}

.mw-80 {
    max-width: 80vw;
}

.tournament-creation {
    max-width: 80vw;
    margin: 0 auto;
}

.player-circle {
    background-image: url(../../img/red_panda.jpg);
    width: min(11vh, 11vw);
    height: min(11vh, 11vw);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    max-width: 50px;
    max-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 1.5rem;
}

.player-name {
    max-width: 100px;
}

.content {
    position: relative;
    z-index: 1;
    padding: 2rem;
}

.username:hover {
    text-decoration: underline;
}

.box {
    border: 2px solid black;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.box-gold {
    border: 3px solid gray;
    /* padding: 15px; */
    border-radius: 5px;
    margin-bottom: 15px;
}

.player-name {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.history {
    max-height: 50vh;
    /* Set a max height for the scrollable area */
    overflow-y: auto;
    /* Enable vertical scrolling */
    /* border: 1px solid #ccc; */
    /* Add a border */
    padding: 10px;
    /* Add some padding */
    background-color: rgb(0, 0, 0, 0);
    /* Background color */
    border-radius: 5px;
    /* Rounded corners */
    scrollbar-width: thin;
    /* Makes the scrollbar thinner */
    scrollbar-color: rgba(255, 255, 255, 0.2);
    /* Thumb color and background */
}