.login-title {
    font-size: 4.0vmin;

}

.login-form {
    font-size: 2.0vmin;
    margin: 2%;
}

.login42 {
    font-size: 2.0vmin;
}

.login42:hover {
    font-size: 2.0vmin;
    background-color: royalblue;
    color: white;
}