.nav-link:hover {
    background-color: #444;
}

.nav-link {
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 1px solid #444;
    padding: 1rem;
    white-space: nowrap;
    /* Prevents the text from wrapping */
    overflow: hidden;
    /* Hides overflowed content */
    text-overflow: ellipsis;
    /* Shows '...' for overflowing text */
    width: 100%;
    /* Ensures the link takes up the full width of the sidebar */
    padding: 10px 15px;
    /* Adjust padding for better spacing */
    text-align: left;
}

.bar-size-max {
    width: 15%;
}

.dropdown-menu {
    z-index: 1050;
    position: absolute;
}

.col-10 {
    width: 85%;
}

.offcanvas {
    max-width: 25%;
}

.icon-container {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.icon-container-right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.icon-container .btn {
    margin-left: 0.5rem;
}

.no-overflow {
    white-space: nowrap;
    /* Prevents the text from wrapping */
    overflow: hidden;
    /* Hides overflowed content */
    text-overflow: ellipsis;
}